export(Genotype.Kernels,MultiSKAT,MultiSKAT_NULL,MultiSKAT_NULL_Kins,WSS,resampling.pvalues,minP,minPcom)

import(SKAT,nlme,copula)


importFrom("stats", "cor", "cov", "lm", "princomp", "residuals","rnorm")
